{% extends 'base.html.twig' %}

{% block title %}Benchmark loading time for web pages{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1300px; width: 95%; font: 18px/1.5 sans-serif; text-align: center}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .wrapper-content {margin: auto}
    .base-site {font-size: 22px; background: #F5F5F5; padding: 15px; margin-top: 20px}
</style>

<div class="example-wrapper">
    <div class="wrapper-content">
        <h1>Enter adresses for base page and pages you want to compare to</h1>
        <section>
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    {% if ( label == 'success' ) %}
                        <div class="alert alert-success alert-dismissible fade show">
                            {{ flash }}
                        </div>
                    {% elseif ( label == 'error' ) %}
                        <div class="alert alert-danger alert-dismissible fade show">
                            {{ flash }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <form action="{{ path('benchmark') }}" method="POST">
                <div class="form-group">
                    <label for="baseSite">Base site adress</label>
                    <input type="text" class="form-control" id="baseSite" name="base_site" placeholder="ex: http://google.pl" required>
                </div>
                <div class="form-group">
                    <label for="comparedSites">List of sites to compare against</label>
                    <input type="text" class="form-control" id="comparedSites" name="compared_sites" aria-describedby="comparedSitesHelp" placeholder="ex: http://google.pl, https://microsoft.com" required>
                    <small id="comparedSitesHelp" class="form-text text-muted">Use ',' or '|' to separate addresses.</small>
                </div>
                <div class="form-group">
                    <label for="email">Email address to sent notification</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="ex: username@mail.com" required>
                    <small id="emailHepl" class="form-text text-muted">We will keep this email a secret</small>
                </div>
                <input type="submit" value="Run test">
            </form>
        </section>
        {% if results is defined and results is not empty %}
        <section>
            {% set baseSite = results['base_site'] %}
            <div class="base-site">Base site: {{ baseSite['url'] }} with loading time {{ baseSite['loading_time'] }} s</div>
            <hr>
            {% for comparedSite in results['compared_sites'] %}
                <div>
                    Site: {{ comparedSite['url'] }} with loading time <strong>{{ comparedSite['loading_time'] }}</strong> >>> Faster loading site is
                    <em>{{ comparedSite['faster_site'].getSiteUrl() }}</em> by <strong>{{ comparedSite['how_much_faster'] }} s</strong>
                </div>
            {% endfor %}
        </section>
        {% endif %}
    </div>
</div>
{% endblock %}
